.about {
  padding: 2rem;
  text-align: center;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.about-text {
  text-align: left;
  max-width: 60%;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
