.skills {
  padding: 2rem;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skill {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
